* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: '--font-p', 'Arial', sans-serif;
    text-align: center;
}

/* Header */
header {
    background-color: var(--healthy-dark);
    height: 70px;
    padding-left: 370px;
    padding-right: 370px;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 5px;
}

/* Hero section styles */
.hero{
    position: relative;
    text-align: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.center-left{
    text-align: left;
    position: absolute;
    top: 84px;
    left: 256px;
}
.hero-text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    }
    .hero-text1 { grid-area: 1 / 1 / 2 / 3; }
    .hero-text2 { grid-area: 2 / 1 / 3 / 2; }
    .hero-text3 { grid-area: 2 / 2 / 3 / 3; }

/* Features section styles */
.features{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}
.features-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
}
/* Reviews section styles */
.reviews {
    flex-direction: row;
    justify-content: center;
}

/* Partners section styles */
.partners {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    .partners1 { grid-area: 6 / 1 / 7 / 2; }
    .partners2 { grid-area: 4 / 2 / 5 / 3; }
    .partners3 { grid-area: 2 / 4 / 3 / 5; }
    .partners4 { grid-area: 1 / 6 / 2 / 7; }
    .partners5 { grid-area: 2 / 8 / 3 / 9; }
    .partners6 { grid-area: 4 / 10 / 5 / 11; }
    .partners7 { grid-area: 6 / 11 / 7 / 12; }
    .partners8 { grid-area: 4 / 6 / 5 / 7; }
    .partners9 { grid-area: 5 / 5 / 7 / 8; }


/* Footer styles */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 3 / 2 / 4; }
    .div4 { grid-area: 2 / 1 / 3 / 4; }
    .div5 { grid-area: 3 / 1 / 4 / 4; }

/* Media Queries */
@media (min-width: 768px) {
    header, nav, section, footer {
        flex-direction: row;
    }
    
    .features, .partners, footer {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .reviews {
        justify-content: space-between;
    }
}


/* Additional styles */
/* 'Angebot' page */
.app-info, .instruction, .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 'Über uns' page */
.who-we-are, .simplifying-health, .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 'Kontakt' page */
.contact-form, .location-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 'FAQ' page */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
