/* Header */
header {
    background-color: var(--healthy-dark);
    height: 70px;
    padding-left: 372px;
    padding-right: 375px;
}

/* Flexbox Layout */
/* header, nav, section, footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

/* Navigation styles */
nav {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* Hero section styles */
.hero{
    position: relative;
    text-align: center;
}

.center-left{
    text-align: left;
    position: absolute;
    top: 84px;
    left: 256px;
}

/* Features section styles */
.features {
    flex-direction: column;
}

/* Reviews section styles */
.reviews {
    flex-direction: row;
    justify-content: center;
}

/* Partners section styles */
.partners {
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Footer styles */
footer {
    flex-direction: column;
}

/* Media Queries */
@media (min-width: 768px) {
    header, nav, section, footer {
        flex-direction: row;
    }
    
    .features, .partners, footer {
        justify-content: space-between;
    }
}

@media (min-width: 1024px) {
    .reviews {
        justify-content: space-between;
    }
}


/* Additional styles */
/* 'Angebot' page */
.app-info, .instruction, .pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 'Über uns' page */
.who-we-are, .simplifying-health, .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 'Kontakt' page */
.contact-form, .location-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* 'FAQ' page */
.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
