/* Empfehlung:
padding
schriftarten
schriftgrössen
 */

 /* Schriften */
:root{
    --font-title: 'Lexend Deca', sans-serif;
    --font-p: 'DM Sans', sans-serif;
}

 h1{
     font-family: var(--font-title), 'Arial', sans-serif;
     font-weight: 500;
     font-size: 36;
 }
 h2{
    font-family: var(--font-title) 'Arial', sans-serif;
    font-weight: 500;
    font-size: 30;
 }
 h3{
    font-family: var(--font-title) 'Arial', sans-serif;
    font-weight: 500;
    font-size: 24;
 }
 h4{
    font-family: var(--font-title) 'Arial', sans-serif;
    font-weight: 500;
    font-size: 20;
 }
 p{
    font-family: var(--font-p) 'Arial', sans-serif;
    font-weight: 400;
    font-size: 16;
 }
 link{
    font-family: var(--font-p);
    font-weight: 400;
    font-size: 16;
    color: var(--healthy-light);
    text-decoration: underline;
 }
 nav{
    font-family: var(--font-p);
    font-weight: 700;
    font-size: 20;
    color: var(--white);
    text-decoration: none;
}
 nav a{
    font-family: var(--font-p);
    font-weight: 700;
    font-size: 20;
    color: var(--white);
    transition: all 0.2s ease-in-out;
    text-decoration: none;
}
nav a:hover{
    color: var(--healthy-light);
}
blockquote{
    font-family: var(--font-title) 'Arial', sans-serif;
    font-weight: 500;
    font-size: 20;
    color: var(--gray);
}

/* Farben */
:root{
    --healthy-light:#AACE6B;
    --healthy-dark:#3A6462;
    --delight: #E57249;
    --white:#FFFFFF;
    --gray:#696969;
    --black:#000;
}

/* Buttons */
.btn1{
    background-color: var(--healthy-light);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn1:hover{
    background-color: var(--healthy-dark);
}
.btn2{
    background-color: var(--delight);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn2:hover{
    background-color: #D26037;
}
.btn3{
    background-color: var(--white);
    color: var(--healthy-light);
    border: var(--healthy-light);
    border-width: 2px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.btn3:hover{
    color: var(--healthy-dark);
    border-color: var(--healthy-dark);
}

/* Pricecards */
.pricecard{
    width: 335px;
    height: 440px;
    background: linear-gradient(180deg, var(--healthy-light) 92%, var(--healthy-dark) 100%);
    border-color: var(--healthy-dark);
    border: 5px solid var(--healthy-dark);
    border-radius: 24px;
    padding: 40px 24px;
    gap: 32px;
    overflow: hidden;
    display: inline-flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;    
}
.price{
    width: 108px;
    height: 73px;
    position: relative;
}
.textBlock{
    width: 70px;
    height: 18px;
    left: 19px;
    top: 0px;
    position: absolute;
}
.shape{
    width: 70px;
    height: 18px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: var(--healthy-dark);
    border-radius: 9px;
}
.gratis{
    left: 0px;
    top: 28px;
    position: absolute;
    text-align: center;
    color: var(--white);
    font-size: 36px;
    font-family: var(--font-title);
    font-weight: 500;
    word-wrap: break-word;
}
.pricecard ul{
    width: 173px;
    height: 193px;
    color: var(--black);
    font-size: 20px;
    font-family: var(--font-title);
    font-weight: 500;
    word-wrap: break-word;
    list-style-type: disc;
}
.pricecard .strikethrough{
    color: var(--gray);
    text-decoration: line-through;
}

/* Slider: 2 Buttons & Slide Dots*/
.sliderL{
    width: 60px;
    height: 60px;
    background-color: var(--delight);
    border: solid var(--healthy-dark);
    border-width: 2px;
    border-radius: 100px;
    padding: 18px 20px;
    cursor: pointer;
}
.sliderR{
    width: 60px;
    height: 60px;
    background-color: var(--healthy-light);
    border: solid var(--healthy-dark);
    border-width: 2px;
    border-radius: 100px;
    padding: 18px 20px;
    cursor: pointer;
}
.slideDots{
    width: 52px;
    height: 12px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
}
.elipse{
    width: 12px;
    height: 12px;
    border: 2px var(--healthy-dark) solid;
    border-radius: 100px;
    cursor: pointer;
}
.elipse:hover{
    background-color: var(--healthy-light);
}
.elipse:active{
    background-color: var(--healthy-light);
}